/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */


/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}

nav { 
  text-align: center;
  background-color: #333;

}

nav ul{display: table;
margin: 0 auto;}


nav li{width: 100px;

}


li {display: inline-block;
  width: 9%;
  color: white;
  padding-bottom: 0.8em; 
  padding-top: 1em;
  margin-top: 0;
  border-top: 0;
  

}




header nav{height: 45px;
  padding-bottom: 0;
  margin-bottom: 0%;
  border-bottom: 0;
}

#shop-icon{background-image: url(./images/navbar/shop.png);
  background-repeat: no-repeat;

}

#apple-icon{background-image: url(./images/navbar/apple-icon.png);
  background-repeat: no-repeat;
  

}

#search-icon{background-image: url(./images/navbar/search.png);
  background-repeat: no-repeat;
  

}



/*.hero {background-image: url(./images/hero_iphone_13pro.jpg);
  
}*/

.hero {height: 600px;
  width: 100%;
  text-align: center;
  background-image: url(./images/hero_iphone_13pro.jpg);
  background-position: center;
  margin-bottom: 16px;
  padding-top: 50px;
}

.image1 {background-image: url(./images/watch_large.jpg);}
.image2 {background-image: url(./images/ipad_pro_large.jpg);}
.image3 {background-image: url(./images/accessories_large.jpg);}
.image4 {background-image: url(./images/macbook_large.jpg);}

.container {width: 24.8%;
  height: 200px;
  background-position: center;
  float: left;
  margin-right: 2px;
  margin-bottom: 23px;

}

.subherotext {text-align: center;
  padding-top:20px;
  padding-bottom: 22px;
  font-size: 18px;
}

footer {background-color: #f2f2f2;
  display: block;
  width: 100%;
  height: auto; 
  
}

footer li{display: block;
  text-align: left;
  width: 200px;
  margin-top: 0;
  line-height: 0.0001;

}

.clearfix:after {
  clear: both;}

footer .section{background-color: none;
  margin: 5px;
  width: 19%;
  float: left;
  text-align: top;
  

}

#last-text {display: inline-block;
  text-align:center;
  color: black;
  background-color: none;
  margin-left: 200px;
  font-weight: lighter;

}



body {font-family:"Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

}

p {font-size: smaller;
  color: rgb(58, 60, 61);
}

.first {color: black;

}

.last-nav p{display: inline-block;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  margin-right: 0; 
 }




footer{position: relative;

}


.last-nav {
  /*display: table;
  margin: 0 auto;*/
  padding-top: 0;
  margin-top: 0;
  margin-left: 200px;
  border-top: 0;
  line-height: 1.66667;
  padding-bottom: 20px;
  
  position: relative;

  box-sizing: border-box;
 
}


.flag{display: block;
  position: absolute;
  bottom: 20px;
  right:200px ;

}

a{text-decoration: none;
  color: white;


}


footer a{color: #999;
  font-size: 11.94px;
  font-weight: 400;
  
  letter-spacing: -0.01px;

}

footer li{line-height: 3px;
  padding-top: 0;

}

.first {padding-top: 20px;
  font-size: 11.94px;
  font-weight: 600;
  color:#333 ;
}

.main-section { width: 80%;

margin-left: 200px;

}

#faint{font-weight: 400;
  font-size: 11.94;
  color: #999;
  margin-right: 22px;

}

.last-nav a{font-weight: 400;
  font-size: 11.94;
  color: #666;
  padding-right: 10px;
}

.subherotext a{color:#08c ;
}

.subherotext a:hover {
  text-decoration: underline;
}


h1{font-size: 55px;
  font-weight: 450 ;
  padding-bottom: 15px;
  padding-top: 0;
  border-top: 0;

}

h4{font-size: 25.5px;
  font-weight: 400;
  padding-bottom: 20px;

}

.last a{color:#08c ;
  font-weight: 300;

}

a:hover{text-decoration: underline;}

nav :hover{color: #999;}
